__pycache__/
*.egg-info/
dist/
build/lib/
embedding_cache/
!embedding_cache/.gitkeep
index_dev/*
!index_dev/.gitkeep
_backup_DiskANN_20250911_064525/*
sift*
*.bak
blog/reference_index.md
*npy
data/*
test*.py
passage_order.txt
export_diskann_results.py
DiskANN-build/converted/
DiskANN-build/DiskANN_index/
DiskANN-build/cpds_embeddings/
DiskANN-build/DiskANN/build/
/mnt/md-256k/jinjian/DS/runtime/*
/mnt/md-256k/jinjian/DS/scripts/plot_qps.py